.remodal-true-wrapper{
  text-align: start;
}
.r_field{
  //vertical-align: middle;
  //height: 30px;
  font-size: 14px;
  //width: 100px;
}
.r_field span{
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
.panel_toolbox {
  min-width: 0 !important;
}
.tile_count{
  margin-bottom: 0px !important;
}
.reserved{
  background-color: #d8e3ff !important;
}